body {
    font-family: sans-serif;
}

.control {
    margin-left: 1em;

    display: flex;
    flex-direction: row;
}
/* Grip */

.grip {

    width: 5.5em;
    height: 16em;

    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.red {
    width: 1em;
    height: 1.2em;
    background-color: red;

    transform: rotate(-10deg);
    position: absolute;
    margin-bottom: 6.96em;
    margin-left: 5em;
}

.rightRed {
    width: 1em;
    height: 2.6em;
    background: linear-gradient(0deg, red, red 59%, transparent 60%);
    transform: rotate(10deg);
    
    position: absolute;

    margin-right: 5em;
    margin-bottom: 6.9em;
}

.bottomGrip {
    width: 5.5em;
    height: 8em;
    border-radius: 0 0 50% 50%;
    background: linear-gradient(0deg, darkred, darkred 90%, red);
    display: flex;
    flex-direction: row;

}

.semiCircle {
    width: 5.5em;
    height: 4.5em;
    border-radius: 0 0 30% 30%;
    background-color: red;
}

.leftGrip {
    transform: rotate(10deg);
    border-radius: 50% 45% 50% 50%;
}

.rightGrip {
    transform: rotate(-10deg);
    border-radius: 45% 50% 50% 50%;

}

.shoulder {
    z-index: -1;

    width: 3.5em;
    height: 1.2em;

    background-color: gray;

    margin-bottom: .5em;

    transform: rotate(-10deg);
}

.shoulderRight {
    margin-left: 1em;

    transform: rotate(10deg);
    border-radius: 40% 70% 0 0;
}

.shoulderLeft {
    margin-left: 1em;
    border-radius: 70% 40% 0 0;
}

/* Buttons */

.buttonCircle {
    margin-top: .5em;

    width: 6em;
    height: 6em;
    border-radius: 50%;

    background-color: red;
    justify-self: flex-start;
    align-self: flex-start;

    border: .1em solid lightcoral;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/* Left Buttons */

.buttonCircleLeft {
    transform: rotate(-10deg);
}

.tag {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.tagButton {
    width: 0;
    height: 0;

    border-top: .7em solid transparent;
    border-bottom: .7em solid transparent;
    
    border-left: .7em solid black;

    margin: 0;
    padding: 0;
}

.tagSquare {
    width: 1.2em;
    height: 1.4em;
    background: black;

    border-radius: 20% 0 0 20%;
}

.tagArrow {
    width: 0;
    height: 0;

    border-top:  .4em solid transparent;
    border-bottom:  .4em solid transparent; 
    
    border-right: .4em solid lightcoral; 
    
    margin-right: .2em;
}

.topTag {
    transform: rotate(90deg);
}

.rightTag {
    transform: rotate(180deg);
}

.bottomTag {
    transform: rotate(270deg);
}

.spacerLeft {
    width: 1em;
}

.spacerCenterLeft {
    width: .3em;
}


/* Right Buttons*/

.buttonCircleRight {
    transform: rotate(10deg);
}

.button {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;

    background-color: black;
}

.spacerRight {
    width: 2em;
}

/* Middle */

.middle {
    margin-top: .5em;
    width: 13em;
    height: 9em;
    background-color: red;

    padding-left: .5em;
    display: flex;
    flex-direction: column;
}

.topSide {
    display: flex;
    justify-content: space-around;
}

.ovalButton {
    margin-top: 1rem;
    width: 1rem;
    height: 1.6rem;
    border-radius: 40%;

    background-color: black;

    color: gray;
    font-size: xx-small;
    text-align: center;
}

.leftOvalButton {
    margin-left: .3em;
}
.rightOvalButton {
    margin-right: .3em;
}

.touchpad {
    width: 9em;
    height: 5em;
    border-radius: 10%;

    background: linear-gradient(0deg, black 70%, blue 78%, gray 90%, black 100%);
}

/* Bottom Side */

.bottomSide {
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
}

/* Center */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.dots {
    font-size: xx-small;
}

.PSButton {
    width: 1em;
    height: 1em;
    border-radius: 50%;

    background-color: black;
}

/* Analogics */

.analogCircle {
    width: 5em;
    height: 5em;
    border-radius: 50%;

    background-color: red;
    border: .1em solid lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analog {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;

    background-color: black;
    background: radial-gradient(black, black 40%, white 45%, black 48%, white 100%);
}